@{
    Layout = "Layouts.MailLayout.cshtml";
    Culture = ViewBag.Culture;
}

@section Subject {@Model.Subject}
<p>@T.DearSirOrMadam @Model.DisplayName</p>
<p>@Raw(T.ResetPasswordMailMessage.Replace("\r\n", "</p><p>"))</p>
<a href="@Model.ResetPasswordUrl">@T.ResetPassword</a>
