@model Web.ViewModels.Login.ResetPasswordViewModel

@section Title { @T.ResetPassword }
@section MainMenu {}
@section Footer {}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="icon-lock"></i>Skaele Architecture - @T.ResetPassword
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post))
                {
                    <div id="messageContainer"></div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Email, (string)T.Email, new { @class = "control-label" })
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", data_val = "true", data_val_required = T.Required, data_val_email = T.InvalidEmailAddress, placeholder = T.Email })
                        @Html.FocusFor(x=>x.Email)
                        @Html.ValidationMessageFor(x => x.Email)
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">@T.Send</button>
                        <button id="backButton" type="button" class="btn">@T.Back</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#backButton').click(function() {
            window.location.href = '@Url.Action("Index")';
        });
    });
</script>
